<div class="toolbar">
    <button mat-button (click)="jiraAddBatch()"><mat-icon>list_alt</mat-icon></button>
    <mat-form-field class="search">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="dashboard.query" (keydown.enter)="search()">
<!--        <mat-autocomplete #autocomplete="matAutocomplete">-->
<!--            <mat-option (onSelectionChange)="deb($event)" *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>-->
<!--        </mat-autocomplete>-->
    </mat-form-field>
    <button mat-button (click)="search()"><mat-icon>search</mat-icon></button>
    <button mat-button (click)="jira()"><mat-icon>cloud_download</mat-icon></button>
</div>
<ticket-header [dashboard]="dashboard" (headerChanged)="onHeaderChanged()"></ticket-header>
<div class="row-wrapper" *ngFor="let ticket of tickets">
    <mat-card class="row" (click)="edit(ticket)">
        <attribute *ngFor="let attribute of ticket.visibleAttributes(dashboard)"
                   [attribute]="attribute.attribute"
                   [value]="attribute.value"
                   [color]="attribute.color"
                   [style.width.px]="getColumnWidth(attribute)"></attribute>
    </mat-card>
</div>