.toolbar {
  margin-top: 1em;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr min-content min-content;
}

.row-wrapper {
  display: flex;
  margin-bottom: 1em;
}

.row {
  display: flex;
  align-items: center;
  cursor: pointer;
}