<button mat-button (click)="add()">Add</button>
<ticket-header [dashboard]="dashboard" (headerChanged)="onHeaderChanged()"></ticket-header>
<div class="row-wrapper">
    <mat-card class="row" *ngFor="let ticket of tickets">
        <attribute *ngFor="let attribute of ticket.attributes"
                   [attribute]="attribute.attribute"
                   [value]="attribute.value"
                   [style.width.px]="getColumnWidth(attribute)"></attribute>
        <button mat-button (click)="edit(ticket)"><mat-icon>edit</mat-icon></button>
        <button mat-button (click)="delete(ticket)"><mat-icon>delete</mat-icon></button>
    </mat-card>
</div>