<div mat-dialog-content class="content">
    <div class="main">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="attribute.name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="attribute.type">
                <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="attribute.readonly">Readonly</mat-checkbox>
        <mat-form-field>
            <mat-label>Link</mat-label>
            <input matInput [(ngModel)]="attribute.link">
        </mat-form-field>
    </div>
    <div class="colors">
        <div *ngFor="let color of attribute.colors" class="color-row">
            <mat-form-field>
                <mat-label>Condition</mat-label>
                <input matInput [(ngModel)]="color.condition">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Color</mat-label>
                <mat-select [(value)]="color.color">
                    <mat-option *ngFor="let c of colors" [value]="c"><badge [type]="c" [value]="c"></badge></mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button (click)="deleteColor(color)"><mat-icon>delete</mat-icon></button>
        </div>
        <button mat-button (click)="addColor()"><mat-icon>add</mat-icon></button>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="delete()" *ngIf="attribute.id"><mat-icon>delete</mat-icon></button>
    <button mat-button (click)="save()" cdkFocusInitial>OK</button>
    <button mat-button (click)="cancel()">Cancel</button>
</div>