<div mat-dialog-content class="content">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="attribute.name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="attribute.type">
            <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="attribute.readonly">Readonly</mat-checkbox>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="delete()" *ngIf="attribute.id"><mat-icon>delete</mat-icon></button>
    <button mat-button (click)="save()" cdkFocusInitial>OK</button>
    <button mat-button (click)="cancel()">Cancel</button>
</div>