.ticket-row {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 24px 100px 100px 100px 1fr 1fr min-content;
  grid-column-gap: 1rem;
  align-items: center;
}

.tick {
  cursor: pointer;
  //align-self: center;
}