:host {
  display: grid;
  padding: 1em;
}

.fab {
  position: fixed;
  bottom: 4em;
  right: 4em;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1em;
  align-items: center;
  z-index: 1000;
}