<mat-tab-group #tabGroup>
    <mat-tab *ngFor="let dashboard of dashboards" [label]="dashboard.name">
        <ticket-browser [dashboard]="dashboard"></ticket-browser>
    </mat-tab>
</mat-tab-group>
<div class="fab">
    <button mat-mini-fab color="primary" (click)="edit(dashboards[tabGroup.selectedIndex])"><mat-icon>edit</mat-icon></button>
    <button mat-mini-fab color="primary" (click)="add()"><mat-icon>add</mat-icon></button>
    <button mat-fab color="primary" (click)="addTicket(dashboards[tabGroup.selectedIndex])"><mat-icon>note_add</mat-icon></button>
</div>