<ng-container *ngIf="!edit || attribute.readonly" [ngSwitch]="attribute.type">
    <ng-template [ngSwitchCase]="'STRING'">
        <a *ngIf="attribute.link" target="_blank" [href]="attribute.link + '/' + value">{{value}}</a>
        <badge *ngIf="!attribute.link" [value]="value" [type]="color"></badge>
    </ng-template>
    <ng-template [ngSwitchCase]="'TEXT'"><badge [value]="value" [type]="color"></badge></ng-template>
    <ng-template [ngSwitchCase]="'NUMBER'"><badge [value]="value" [type]="color"></badge></ng-template>
    <ng-template [ngSwitchCase]="'DATE'"><badge [value]="value" [type]="color"></badge></ng-template>
    <ng-template [ngSwitchCase]="'BOOLEAN'">
        <mat-checkbox disabled [ngModel]="value == 'true'"></mat-checkbox>
    </ng-template>
</ng-container>
<ng-container *ngIf="edit && !attribute.readonly" [ngSwitch]="attribute.type">
    <ng-template [ngSwitchCase]="'STRING'">
        <mat-form-field appearance="fill">
            <mat-label>{{attribute.name}}</mat-label>
            <input matInput [ngModel]="value" (ngModelChange)="onValue.emit($event)">
        </mat-form-field>
    </ng-template>
    <ng-template [ngSwitchCase]="'TEXT'">
        <mat-form-field appearance="fill">
            <mat-label>{{attribute.name}}</mat-label>
            <textarea matInput [ngModel]="value" (ngModelChange)="onValue.emit($event)"></textarea>
        </mat-form-field>
    </ng-template>
    <ng-template [ngSwitchCase]="'NUMBER'">
        <mat-form-field appearance="fill">
            <mat-label>{{attribute.name}}</mat-label>
            <input type="number" matInput [ngModel]="value" (ngModelChange)="onValue.emit($event)">
        </mat-form-field>
    </ng-template>
    <ng-template [ngSwitchCase]="'DATE'">
        <mat-form-field appearance="fill">
            <mat-label>{{attribute.name}}</mat-label>
            <input type="date" matInput [ngModel]="value" (ngModelChange)="onValue.emit($event)">
        </mat-form-field>
    </ng-template>
    <ng-template [ngSwitchCase]="'DATETIME'">
        <mat-form-field appearance="fill">
            <mat-label>{{attribute.name}}</mat-label>
            <input type="datetime-local" matInput [ngModel]="value" (ngModelChange)="onValue.emit($event)">
        </mat-form-field>
    </ng-template>
    <ng-template [ngSwitchCase]="'BOOLEAN'">
        <mat-form-field appearance="fill">
            <mat-label>{{attribute.name}}</mat-label>
            <input type="checkbox" matInput [ngModel]="value" (ngModelChange)="onValue.emit($event)">
        </mat-form-field>
    </ng-template>
</ng-container>