.header {
  margin: 1em;
  //display: grid;
  //grid-auto-flow: column;
  display: flex;
  flex-direction: row;
}

.column-wrapper {
  display: flex;
  flex-direction: row;
}

.column {
  display: grid;
  grid-auto-flow: column;
  //grid-template-columns: min-content 1fr min-content min-content;
  grid-template-columns: min-content 1fr;
}

.placeholder {
  background: #ccc;
  border: dotted 3px #999;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.width-handler {
  cursor: col-resize;
}

.width-handler.cdk-drag-preview {
  display: none;
}