<mat-card class="header" [style.width.px]="getFullWidth()" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
    <div class="column-wrapper" *ngFor="let column of dashboard.columns" [style.width.px]="column.getFullWidth()">
        <div class="column" cdkDrag (cdkDragStarted)="columnReorderDisabled = true">
            <div class="placeholder" *cdkDragPlaceholder [style.width.px]="column.width"></div>
            <mat-icon class="order" *ngIf="column.order == 'ASC'" (click)="order(column)">expand_less</mat-icon>
            <mat-icon class="order" *ngIf="column.order == 'DESC'" (click)="order(column)">expand_more</mat-icon>
            <mat-icon class="order" *ngIf="column.order == 'NONE'" (click)="order(column)">unfold_more</mat-icon>
            <span>{{column.attribute.name}}</span>
        </div>
        <div cdkDropList *ngIf="!columnReorderDisabled">
            <mat-icon class="width-handler" cdkDrag cdkDragLockAxis="x" (cdkDragEnded)="widthDone(column)" (cdkDragMoved)="width($event, column)" [hidden]="column.widthDelta > 0">more_vert</mat-icon>
        </div>
    </div>
</mat-card>
