.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.column-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr min-content;
  align-items: center;
}

.column {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

.placeholder {
  background: #ccc;
  border: dotted 3px #999;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  min-height: 24px;
}

.order {
  cursor: pointer;
}

.width-handler {
  cursor: col-resize;
}

.width-handler.cdk-drag-preview {
  display: none;
}