<mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="side.toggle()"><mat-icon>menu</mat-icon></button>
    <span>Lead Tools</span>
</mat-toolbar>
<mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav #side mode="side" position="start" opened class="mat-sidenav mat-elevation-z8">
        <mat-nav-list>
            <a matLine routerLink="/attribute">
                <mat-list-item>
                    <mat-icon matListIcon>edit_attributes</mat-icon>
                    <span>Attributes</span>
                </mat-list-item>
            </a>
            <a matLine routerLink="/dashboard">
                <mat-list-item>
                    <mat-icon matListIcon>dashboard</mat-icon>
                    <span>Dashboards</span>
                </mat-list-item>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
