<mat-toolbar color="primary">
    <button mat-icon-button (click)="side.toggle()"><mat-icon>menu</mat-icon></button>
    <span>Lead Tools</span>
</mat-toolbar>
<mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav #side mode="side" opened class="mat-sidenav mat-elevation-z8">
        <mat-nav-list>
            <mat-list-item>
                <mat-icon matListIcon>dashboard</mat-icon>
                <a matLine routerLink="/attribute">Attributes</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>dashboard</mat-icon>
                <a matLine routerLink="/dashboard">Dashboards</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>