.content {
  min-height: 20vh;
  min-width: 30vw;
  max-height: 60vh;
}

.attributes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.attribute {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr min-content;
  align-items: center;
}